#fondoRecu{
    position: absolute;
    overflow: visible;
	width: 1366px;
	height: 624px;
	left: 0px;
    top: 100px;
    background-color: #8DB0B2;
    opacity: 0.31;
}


#fonreCu{
    position: absolute;
	overflow: visible;
	width: 600px;
	height: 624px;
    left: 383px;
    top: 100px;
    background-color:#61818C;
    opacity: 0.18;
}

#titulo{
    position: absolute;
	left: 520px;
	top: 143px;
	overflow: visible;
	width: 330px;
	font-family: Microsoft Sans Serif;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,1);
}

#desc{
    position: absolute;
	left: 435px;
	top: 248px;
	overflow: visible;
	width: 500px;
    text-align: justify;
	font-family: Microsoft Sans Serif;
	font-style: italic;
	font-size: 25px;
	color: rgba(0,0,0,1);
}

#email{
    position: absolute;
	left: 427px;
	top: 423px;
	overflow: visible;
	width: 257px;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}

#emailinput{
    position: absolute;
	overflow: visible;
	width: 490px;
	height: 40px;
	left: 427px;
	top: 471px;
    background-color: rgba(97, 129, 140, 0.0);
    font-size: 20px;
}

#emailinput{
    border: none;
    border-bottom: 1px solid black;
}

#recup{
    position: absolute;
	overflow: visible;
	width: 296px;
	height: 50px;
	left: 560px;
	top: 577px;
    font-size: 25px;
    border-radius: 100px;
    background-color: #073255;
    color: white;
    cursor: pointer;
}
